.heading-business {
	position: relative;
	padding-top: 50px;
	font-size: 26px;
	text-align: center;
}

.heading-business span {
	position: relative;
	z-index: 2;
}

.heading-business::before {
	content: attr(data-en);
	position: absolute;
	top: -8px;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(66, 192, 224, 0.2);
	font-size: 80px;
	font-style: italic;
}