p.late-title {
    text-align: center;
    font-family: 'Yuji Syuku', serif;
    font-size: 4em;
    margin: 0.2em 0;
}
p.late-reason {
    text-align: center;
    font-family: 'Yuji Syuku', serif;
    font-size: 12em;
    margin: 0.2em 0;
}
p.late-genre {
    text-align: center;
    font-family: 'Yuji Syuku', serif;
    font-size: 4em;
    margin: 0.2em 0;
}
img.share-line {
    height: 30px;
}