.heading-safety {
	position: relative;
	padding-top: 50px;
	font-size: 26px;
	text-align: center;
}

.heading-safety span {
	position: relative;
	z-index: 2;
}

.heading-safety::before {
	content: attr(data-en);
	position: absolute;
	top: -8px;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(48, 100, 255, 0.2);
	font-size: 80px;
	font-style: italic;
}

.safe-instruction {
    width: 100%;
}

.safe-instructions {
	max-width: 700px;
	width: 100%;
	margin: 0px auto;
}