.top-logo {
    height: calc(100vh - 74px);
    overflow: hidden;
    position: relative;
}
.top-logo img {
    object-fit: cover;
    width: 100%;
    position: absolute;
    top: 48%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.top-message {
    text-align: center;
    color: rgb(116, 116, 116);
    max-width: 90vw;
    margin: 0 auto 150px auto;
}

/*スマホ用*/
@media(max-width: 600px) {
    .top-message {
        font-size: 17px;
    }
}