.top-logo {
    height: calc(100vh - 74px);
    overflow: hidden;
    position: relative;
}
.top-logo img {
    object-fit: cover;
    width: 100%;
    position: absolute;
    top: 48%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.top-message {
    text-align: center;
    margin-bottom: 150px;
    color: rgb(116, 116, 116);
}